// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #05202f
$secondary : #f06928
$accent    : #f5f7fa

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : rgba(255, 255, 255, 0.9)
$warning   : #F2C037
